<% layout('layouts/index.ejs')%>
    <% if (username) { %>
        <h2 class="myH2">Welcome <%=username%>
        </h2>
        <h2 class="myH2"><a href="/search">BOOK A TICKET NOW!</a></h2>
        <%}%>
            <h2 class="myH2">What is this ?</h2>
            <p class="myP">A Railway Ticketing System</p>
            <p class="myP">

                The Railway Management System facilitates the passengers to enquire about the trains available on the basis of source and destination, booking, view the ticket booking history, etc. The main aim of this project is to design and develop a database maintaining the records of different trains, tickets, prices and passengers.
Our project is a computerized system of reserving the seats of train seats in advance. It is mainly used for long routes. Online reservation has made the process for reservation of seats very much easier than ever before.
            </p><br>
            <footer style="text-align: center; font-size: large;">Project By:
                Supreet Joshi (19GACSE064)
                Eeshachandra P Upadhya (20GACSD001)
            </footer>