<% layout('layouts/index.ejs') %>

    <head>
        <style>
            .myH2 {
                font-family: Arial, sans-serif;
                color: #333;
                text-align: center;
                margin-top: 20px;
                height: 115vh;
            }

            form {
                max-width: 500px;
                margin: 0 auto;
                padding: 20px;
                border: 2px solid #ebac4f;
                border-radius: 10px;
                background-color: #f9f9f9;
            }

            label {
                display: block;
                margin-bottom: 5px;
                font-weight: bold;
                font-size: 16px;
                /* Adjust font size here */
            }

            input[type="text"],
            input[type="password"],
            input[type="email"],
            input[type="address"],
            input[type="bank_ac"],
            input[type="tel"] {
                width: calc(100% - 16px);
                padding: 8px;
                margin-bottom: 10px;
                border: 1px solid #ccc;
                border-radius: 4px;
                box-sizing: border-box;
            }

            input[type="submit"] {
                width: 100%;
                padding: 10px;
                background-color: #d29608;
                color: white;
                border: none;
                border-radius: 4px;
                cursor: pointer;
                font-size: 16px;
            }

            input[type="submit"]:hover {
                background-color: #6a4d04;
            }
            #footer{
                padding: 0;
                background: linear-gradient(45deg, #0b0b0b, #b26821);
                border-top-right-radius: 15px;
                box-shadow: 1px 1px 6px 0px #eac073;
                font-size: x-small;
                width: 100%;
                height: 40px;
                color: #fff;
                position: fixed;
                bottom: 0%;
            }
        </style>
    </head>

    <body>
        <div class="myH2">
            <form action="/register" method="POST">
                <label for="name">Enter your name:</label>
                <input type="text" id="name" name="name" required>
                <label for="username">Enter your username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Enter your password:</label>
                <input type="password" name="password" id="password" required>
                <label for="confirm_password">Confirm your password:</label>
                <input type="password" name="confirm_password" id="confirm_password" required>
                <label for="email">Enter your email address:</label>
                <input type="email" name="email" id="email" required>
                <label for="address">Enter your address:</label>
                <input type="address" name="address" id="address" required>
                <label for="bank_ac">Enter your account number:</label>
                <input type="bank_ac" name="bank_ac" id="bank_ac" required>
                <label for="phone_no">Enter your phone number:</label>
                <input type="tel" name="phone_no" id="phone_no" pattern="[0-9]{10}" required>
                <input type="submit" value="Register">
            </form>
        </div>

        <footer id="footer">
            <center>
                <h3>
                    &copy; reserved And Design developed by Tejas,Vansh
                </h3>
            </center>
        </footer>
    </body>